<configuration>

    <!-- Define the console appender that logs to stderr -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Configure the root logger to use the CONSOLE appender -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
